.card {
  display: block;
  padding: 1.5rem;
  background-color: var(--bg-card);
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  transition: background-color 0.2s;
  height: 100%;
}

.card:hover {
  background-color: var(--bg-card-hover);
  text-decoration: none;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-main);
  margin-bottom: 0.5rem;
  font-family: var(--font-head);
}

.description {
  color: var(--text-muted);
  font-size: 0.875rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
